.container{
    margin-top: 30px;
    
}

.logo{
    margin-left: 30px;
    margin-top: 20px;
}




//  for main

.main{
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    margin-top: 10px;
}


//  for questions portion

li{
    cursor: pointer;
    width: 200px;
    margin-top: 8px;
    padding: 8px;
}

li:hover{
   color: greenyellow; 
}
.questions{
    margin-top: 20px;
}

.option{
    margin-top: 10px;
}

.button{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
}